nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #333;
    color: white;
    padding: 1rem;
    margin: 0;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    max-width: 40rem;
    margin: 0 auto;
    padding-inline: 0;
}
